/Test/nbproject/private/
/Test_Project/target/
/MVC_Example/target/
/CIT360_Example1/nbproject/private/
/CIT360_JSON_Example/nbproject/private/
/CIT360_JSON_Example/build/
/JSON_Example/nbproject/private/
/JSON_Example/build/
/Hibernate_Example/nbproject/private/
/Hibernate_Example/build/
/Collections_Example/nbproject/private/
/Collections_Example/build/
/Threading_Example/nbproject/private/
/Threading_Example/build/
/ApplicationController_Example/nbproject/private/
/URLHTTP_Example/nbproject/private/
/URLHTTP_Example/build/
/jUnit_Example/nbproject/private/
/jUnit_Example/build/
/ApplicationController_Example/build/